.playlist-select {
    max-width: 450px;
}

.playlist-select-box {
    background-color: #EDEDED;
    border-radius: 8px;
    max-height: 45px;
}

.playlist-select .MuiInputBase-root {
    font-family: inherit;
    max-height: 45px;
}

.playlist-select-box > div {
    border-radius: 8px;
}


.playlist-select-box > div > input {
    color: #424242;
    padding: 0px 0px 0px 10px !important;
    font-weight: 600;
}

.playlist-select .playlist-select-box fieldset{
    border-color: #8B8B8B !important;
}