:root .playlist-card {
    margin: 36px 7px 15px 7px;
    border-radius: 16px;
    transition: 0.3s;
    position: relative;
    width: calc(100% - 7px);
    max-width: 400px;
    margin-left: auto;
    overflow: initial;
    background: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 3/1;
    padding-bottom: 10px;
}

:root .playlist-card-media {
    width: 88%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36px;
    border-radius: 12px;
    position: relative;
    background: #363636;
}

.playlist-card-button-container {
    display: flex;
    justify-content: space-evenly;
    min-height: 30px;
    align-items: center;
    padding: 0px 5px;
}

.playlist-card-subtitle {
    word-wrap: break-word;
}

/* Add :root to override MUI specificity */
/* xs */
@media (max-width: 600px) {
    :root {
        .playlist-card {
            padding-bottom: 7px;
        }

        .playlist-card-content {
            width: 85%;
        }

        .playlist-card-title {
            font-size: 15px;
        }
    }
}

/* xs sm */
@media (max-width: 975px) {
    :root {
        .playlist-card-content {
            width: 75%;
        }

        .playlist-card-eyebrow {
            margin-bottom: 0px;
            line-height: unset;
        }

        .playlist-card-subtitle {
            display: none;
        }
    }
}

/* md lg xl */
@media (min-width: 975px) {
    :root {
        .playlist-card {
            flex-direction: row;
            padding-top: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            margin: 10px 10px 10px 36px
        }

        .playlist-card-media {
            width: 45%;
            margin-left: -24px;
            margin-top: 0;
            transform: translateX(-8px);
        }

        .playlist-card-info {
            height: calc(100% - 30px);
        }

        .playlist-card-content {
            width: 55%;
            height: calc(100% - 36px);
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 16px 18px 15px 5px !important; /* Override :lastchild */
        }

        .playlist-card-eyebrow {
            font-size: 12px;
        }

        .playlist-card-title {
            font-size: 20px;
        }

        .playlist-card-subtitle {
            display: block;
            height: calc(100% - (23px + 34px + 10px));
        }
    }
    .playlist-card-button-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .playlist-card-button-container button {
        margin-bottom: 5px;
    }
}