:root div.landing-card-content {
    padding-bottom: 16px;
}

@media (max-width: 600px) {
    .landing-card {
        font-size: 15px;
        font-weight: 500;
    }

    :root .landing-card-media {
        padding-left: 12px;
        display: flex;
        align-items: center;
    }

    :root div.landing-card-content {
        padding: 7px;
    }
}