.artist-card {
    margin: 36px 7px 15px 7px;
    border-radius: 16px;
    transition: 0.3s;
    position: relative;
    width: calc(100% - 7px);
    max-width: 400px;
    margin-left: auto;
    overflow: initial;
    background: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.artist-card-media {
    width: 88%;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36px;
    border-radius: 12px;
    position: relative;
    background: #363636;
}

.artist-card-eyebrow {
    width: 100%;
}

.artist-card-content {
    width: 80%;
    padding-top: 10px !important;
    padding: 10px 10px 0px 10px !important;
}

.artist-card-title {
    margin-top: -10px !important;
    letter-spacing: 1px;
}