@keyframes shrink {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes narrow {
    0% {
        max-width: 300px;
    }
    80% {
        max-width: 1px;
    }
    100% {
        max-width: 1px;
    }
}

@keyframes hide {
    45% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.unfollow {
    transform-origin: 25% 50%;
    animation: shrink 1000ms forwards, narrow 1000ms forwards, hide 1000ms forwards;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

