#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'), url(./fonts/Metropolis-SemiBold.woff2) format('woff2');
}

.spotify-font {
  font-family: "Metropolis" !important;
  text-transform: none !important;
  color: white !important;
}

.error {
  color: red;
  font-weight: bold;
}