.button-base.login-sm {
    display: inline-flex;
}

.button-base.login-lg {
    display: none;
}

@media (min-width: 900px) {
    .button-base.login-sm {
        display: none;
    }
    .button-base.login-lg {
        display: inline-flex;
    }
}

