.login-sm {
    display: inline;
}

.login-lg {
    display: none;
}

.login-skeleton.login-sm {
    display: block;
}

.login-skeleton.login-lg {
    display: none;
}

@media (min-width: 975px) {
    .login-sm {
        display: none;
    }
    .login-lg {
        display: inline;
    }

    .login-skeleton.login-sm {
        display: none;
    }

    .login-skeleton.login-lg {
        display: block;
    }
}

